<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>People</title>
        <link rel="stylesheet" href="resources/css/jquery.fancybox.css" />
        <link rel="stylesheet" href="resources/css/jquery.fancybox-thumbs.css" />
        <link rel="stylesheet" href="resources/css/main.css" />
        <script type="text/javascript" src="resources/js/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="resources/js/jquery.fancybox.pack.js"></script>
        <script type="text/javascript" src="resources/js/main.js"></script>
    </h:head>
    <h:body id="people">
        <div id="wrapper">
            <h:form>
            <div id="header">
                <h:link outcome="index"><img id="logo" src="resources/img/LOGO.png" alt="Flickr Photo Box" /></h:link>
                <!-- Navigation bar -->
                <div id="navbar">
                    <ul>
                        <li><h:link styleClass="navLink" outcome="index">Home</h:link></li>
                        <li><h:link styleClass="navLink" outcome="places">Places</h:link></li>
                        <li id="peopleNav"><h:link styleClass="navLink" outcome="author">People</h:link></li>
                    </ul>
                </div>
            </div>
            
            <div class="clear">
                <p></p>
            </div>
           <!-- Page main content, display the users, their recent photos and also show use's contacts -->
          <div id="content">
              <h:outputText style="display: none;" rendered="#{not empty indexController.recentPhotos}"></h:outputText>
              <ui:repeat  value="#{indexController.recentPhotos}" var="photo" varStatus="status">
                    <div class="authorDetailsSection">
                        <div class="authorPersonalInfo">
                            <img class="authorIcon" src="#{photo.photoUser.buddyIconUrl}"></img>
                            <h2>
                                <h:outputText value="#{photo.photoUser.userName}" />                            
                            </h2>
                            <p>
                                Real Name: <h:outputText value="#{photo.photoUser.realName}"/><br></br>
                                Location: <h:outputText value="#{photo.photoUser.location}"/>
                            </p>
                        </div>
                        <hr></hr>
                        <h4><h:outputText value="Recent Photos:"></h:outputText></h4>
                        
                        <ui:repeat  value="#{photo.photoUser.photos}" var="userPhoto" varStatus="status">
                            <a class="fancybox-thumb darken" rel="fancybox-thumb" href="#{userPhoto.url}" title="#{userPhoto.title}"> 
                                <img src="#{userPhoto.smallPhotoUrl}" />
                            </a> 
                        </ui:repeat>
                        
                        <hr></hr>
                        <h4><h:outputText value="People Contacts:"></h:outputText></h4>
                        <ui:repeat  value="#{photo.contacts}" var="contact" varStatus="status" rendered="#{not empty photo.contacts}">
                            <div class="contactInfo">
                                    <img class="contactIcon" src="#{contact.buddyIconUrl}"></img>
                                    <span>
                                        <h:outputText value="#{contact.userName}"/>                            
                                    </span>
                                </div>
                        </ui:repeat>
                        <div class="clear">
                            <p></p>
                        </div>
                        <h:outputText rendered="#{empty photo.contacts}" value="No Contacts"></h:outputText>
                        <p>
                            <a href="#{photo.photoUser.profileUrl}" target="_blank"><button class="button">Learn More...</button></a>
                        </p>
                        <div class="clear">
                            <p></p>
                        </div>
                    </div>
                </ui:repeat>
                
          </div>
                
            
             <div class="clear">
                <p></p>
            </div>
                
            <div id="footer">
                <p>Copyright &copy; Yingliang Zhang 2013</p>
            </div>
            
            </h:form>
        </div>
    
    
    </h:body>
</html>

