<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Flickr Photo Box</title>
        <link rel="stylesheet" href="resources/css/jquery.fancybox.css" />
        <link rel="stylesheet" href="resources/css/jquery.fancybox-thumbs.css" />
        <link rel="stylesheet" href="resources/css/main.css" />
    </h:head>
    <h:body id="home">
        <div id="wrapper">
            <h:form>
                <div id="searchBox">
                    <h:inputText class="searchTextInput" id="searchInput" title="Enter your search query." value="#{indexController.searchQuery}" />
                    <h:commandButton class="button" value="Search">
                        <f:ajax execute="searchInput" render="searchContainer" onevent="darkenImages" />
                    </h:commandButton>
                </div>
            

            <div id="header">
                <h:link outcome="index"><img id="logo" src="resources/img/LOGO.png" alt="Flickr Photo Box" /></h:link>
                <div id="navbar">
                    <ul>
                        <li id="homeNav"><h:link styleClass="navLink" outcome="index">Home</h:link></li>
                        <li><h:link styleClass="navLink" outcome="places">Places</h:link></li>
                        <li><h:link styleClass="navLink" outcome="author">People</h:link></li>
                    </ul>
                </div>
            </div>
            
            <div class="clear">
                <p></p>
            </div>
          
          <!-- The image slider that displaying the top five recent photos, including their user icons and user names -->
          <div id="content">  
            <div id="slider">
                <h:outputText style="display: none;" value="#{indexController.recentPhotos}"></h:outputText>
                <div class="current topSlide">
                    <img class="slidePhoto" src="#{indexController.p1.url}"></img>
                    <div class="photoInfo">
                        <img src="#{indexController.p1.photoUser.buddyIconUrl}"></img>
                        <h3><h:outputText value="#{indexController.p1.photoUser.userName}" /></h3>
                    </div>
                </div>
                <div class="next">
                    <img class="slidePhoto" src="#{indexController.p2.url}"></img>
                    <div class="photoInfo">
                        <img src="#{indexController.p2.photoUser.buddyIconUrl}"></img>
                        <h3><h:outputText value="#{indexController.p2.photoUser.userName}" /></h3>
                    </div>
                </div>
                <div class="next">
                    <img class="slidePhoto" src="#{indexController.p3.url}"></img>
                    <div class="photoInfo">
                        <img src="#{indexController.p3.photoUser.buddyIconUrl}"></img>
                        <h3><h:outputText value="#{indexController.p3.photoUser.userName}" /></h3>
                    </div>
                </div>
                <div class="next">
                    <img class="slidePhoto" src="#{indexController.p4.url}"></img>
                    <div class="photoInfo">
                        <img src="#{indexController.p4.photoUser.buddyIconUrl}"></img>
                        <h3><h:outputText value="#{indexController.p4.photoUser.userName}" /></h3>
                    </div>
                </div>
                <div class="next">
                    <img class="slidePhoto" src="#{indexController.p5.url}"></img>
                    <div class="photoInfo">
                        <img src="#{indexController.p5.photoUser.buddyIconUrl}"></img>
                        <h3><h:outputText value="#{indexController.p5.photoUser.userName}" /></h3>
                    </div>
                </div>
            </div>
                
            <h:panelGroup id="searchContainer">
                <!-- Here we output a text value depending if we have photos via 'not empty' and if we do not via 'empty' -->
                <h:outputText value="Search for photos in the search field above." rendered="#{empty indexController.photos}" styleClass="searchHeading"/>
                <h:outputText value="Displaying search results..." rendered="#{not empty indexController.photos}" styleClass="searchHeading"/>
                <hr />
                <h:outputText value="#{indexController.searchPhotos}" style="display: none" />
                <ui:repeat id="searchResults" value="#{indexController.searchedPhotos}" var="photo" varStatus="status">
                    <section class="searchPhotos">
                        <a class="fancybox-thumb darken" rel="fancybox-thumb" href="#{photo.url}" title="#{photo.title}">
                            <img id="collectionPhoto" src="#{photo.mediumPhotoUrl}" />
                        </a>
                        <div id="collectionPhotoInfo">
                            <img id="collectionPhotoUserIcon" src="#{photo.photoUser.buddyIconUrl}"></img>
                            <span>
                                <b><h:outputText value="#{photo.title}" /></b>
                                <br></br>
                                <h:outputText value="#{photo.photoUser.userName}" />                            
                            </span>
                        </div>
                    </section>
                </ui:repeat>
            </h:panelGroup>
          
         </div> 
            
             <div class="clear">
                <p></p>
            </div>
                
            <div id="footer">
                <p>Copyright &copy; Yingliang Zhang 2013</p>
            </div>
            
            </h:form>
        </div>
        
    <script type="text/javascript" src="resources/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="resources/js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="resources/js/main.js"></script>
    </h:body>
</html>

